h1 {
    color: aqua;
}

.foto {
    text-align: center;
}

#inicioTablas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#fernandoAlonso {
    font-size: 33px;
}